.home {
    .main-gradient {
        background-image: linear-gradient(-179deg, #fff 7%, #dfe6ed 40%, #dfe6ed 81%);
    }
    .page-header {
        display: none;
    }
    main {
        .welcome {
            height: 500px;
            background: url('../images/back-sf.jpg');
            background-position: bottom;
            background-size: cover;
            @include mq($max-width: 768px) {
                height: 796px;
                background-image: linear-gradient(-180deg, rgba(98, 119, 218, .9) 0%, rgba(98, 119, 218, .9) 100%), url(http://localhost:3000/app/themes/alloe-yarn/dist/images/back-sf.jpg);
            }
            .message-call-to-action {
                position: relative;
                z-index: 1;
                margin-left: $base-margin * 5;
                color: $brand-white;
                @include mq($max-width: 768px) {
                    margin-top: $base-margin - 13;
                    margin-left: 0;
                    padding: $base-padding;
                    text-align: center;
                }
                @include vertical-align();
                h1 {
                    font-weight: $base-font-weight-bold;
                    width: 350px;
                    @include mq($max-width: 768px) {
                        font-size: $base-font-size * 2;
                        width: 100%;
                    }
                }
                p {
                    width: 350px;
                    @include mq($max-width: 768px) {
                        width: 100%;
                    }
                }
                a {
                    font-size: $base-font-size;
                    display: inline-block;
                    color: $brand-white;
                    background: $brand-secondary;
                    @extend .button;
                    @extend .ripple;
                    &:hover {
                        background: darken($brand-secondary, 5%);
                    }
                }
            }
            .alloe-smartphone {
                margin-top: $base-margin - 9;
                @include mq($max-width: 768px) {
                    display: block;
                    overflow: hidden;
                    width: 80%;
                    height: 244px;
                    margin-top: $base-margin * 20.4;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                }
                img {
                    position: relative;
                    z-index: 1;
                    right: 0;
                    float: right;
                    width: 260px;
                    margin-right: $base-margin * 5;
                    vertical-align: bottom;
                    @include mq($max-width: 768px) {
                        float: none;
                        width: 70%;
                        margin-right: 0;
                    }
                }
            }
            svg {
                position: absolute;
                z-index: 0;
                top: -41px;
                left: 0;
                width: 100%;
                @include mq($max-width: 768px) {
                    display: none;
                }
                #blue {
                    opacity: .9;
                }
            }
        }
        .our-numbers {
            margin-top: $base-margin * 6;
            @extend .home-containers;
            .stats {
                display: inline-block;
                float: left;
                width: 25%;
                margin-top: $base-margin;
                @include mq($max-width: 768px) {
                    width: 50%;
                    svg {
                        margin-top: $base-margin * 3;
                    }
                }
                h1 {
                    // font-weight: $base-font-weight-normal;
                    margin-top: $base-margin / 2;
                    margin-bottom: $base-margin / 2;
                    span {
                        font-size: $base-font-size * 2.5;
                    }
                }
                span {
                    font-size: $base-font-size * 1.4;
                    // font-weight: $base-font-weight-normal;
                }
            }
        }
        .not-just-app {
            width: 100%;
            margin-top: $base-margin * 6;
            @extend .home-containers;
            h3 {
                margin: $base-margin 0;
            }
            .features {
                display: none;
                width: 95%;
                margin-bottom: $base-margin * 3;
                @extend .vertical-centering;
                @include mq($max-width: 768px) {
                    display: block;
                }
                h4 {
                    &.social {
                        &:after {
                            display: block;
                            padding-top: $base-padding / 2;
                            content: '──';
                            color: $brand-primary;
                        }
                    }
                    &.engagement {
                        &:after {
                            display: block;
                            padding-top: $base-padding / 2;
                            content: '──';
                            color: $brand-secondary;
                        }
                    }
                    &.management {
                        &:after {
                            display: block;
                            padding-top: $base-padding / 2;
                            content: '──';
                            color: $brand-pink;
                        }
                    }
                    &.measurement {
                        &:after {
                            display: block;
                            padding-top: $base-padding / 2;
                            content: '──';
                            color: $brand-yellow;
                        }
                    }
                }
                a {
                    display: inline-block;
                    margin-top: $base-margin;
                    padding-top: $base-padding / 2;
                    padding-bottom: $base-padding / 2;
                    color: $brand-white;
                    background: $brand-primary;
                    @extend .button;
                    @extend .ripple;
                }
            }
            svg {
                @include mq($max-width: 1440px) {
                    margin-left: $base-margin !important;
                }
                @include mq($max-width: 1920px) {
                    margin-left: $base-margin - 20;
                }
                @include mq($max-width: 768px) {
                    display: none;
                }
            }
        }
        .simple-as {
            padding-bottom: $base-padding * 6;
            @extend .home-containers;
            .steps {
                display: inline-block;
                float: left;
                width: 33.3%;
                @include mq($max-width: 768px) {
                    width: 100%;
                }
                margin-top: $base-margin;
                margin-bottom: $base-margin;
                text-align: center;
                &:last-child {
                    background: red;
                }
                h3 {
                    // font-weight: $base-font-weight-normal;
                    margin-top: $base-margin / 2;
                    margin-bottom: $base-margin / 2;
                }
                p {
                    width: 80%;
                    text-align: left;
                    @include mq($max-width: 768px) {
                        text-align: center;
                    }
                    @extend .vertical-centering;
                }
            }
            a {
                font-size: $base-font-size;
                display: inline-block;
                color: $brand-white;
                background: $brand-pink;
                @include mq($max-width: 768px) {
                    margin-top: $base-margin * 3;
                }
                @extend .button;
                &:hover {
                    background: darken($brand-pink, 5%);
                }
            }
        }
        .our-advocates {
            // @extend .home-containers;
            width: 100%;
            // @include mq($max-width: 768px) {
            //     display: none;
            // }
            overflow: hidden;
            h1 {
                font-size: $base-font-size * 1.7;
                font-weight: $base-font-weight-light;
                display: block;
                padding: $base-padding $base-padding;
                text-align: left;
                @include mq($max-width: 768px) {
                    text-align: center;
                }
                color: $brand-white;
                background: $brand-dark;
            }
            .advocate {
                width: 100%;
                height: 350px;
                background-image: url('../images/advocates.jpg');
                background-repeat: no-repeat;
                @include mq($max-width: 768px) {
                    background-image: none;
                    height: auto;
                }
                background-size: cover;
                .advocate-blog {
                    float: left;
                    width: 25%;
                    margin-top: $base-margin * 9.1;
                    padding: $base-padding * 2 0;
                    text-align: center;
                    color: $brand-white;
                    background: rgba(0, 0, 0, .5s);
                    @include mq($max-width: 768px) {
                        width: 100%;
                        margin-top: 0;
                        &:nth-child(1) {
                            background-color: $brand-purple;
                        }
                        &:nth-child(2) {
                            background-color: $brand-pink;
                        }
                        &:nth-child(3) {
                            background-color: $brand-yellow;
                        }
                        &:nth-child(4) {
                            background-color: $brand-secondary;
                        }
                    }
                    p {
                        @include mq($max-width: 768px) {
                            padding-left: $base-padding;
                            padding-right: $base-padding;
                        }
                    }
                    a {
                        display: inline-block;
                        margin-top: $base-margin / 2;
                        padding-top: $base-padding / 2;
                        padding-bottom: $base-padding / 2;
                        color: $brand-white;
                        @extend .button;
                        @extend .ripple;
                        &:after {
                            background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
                        }
                        @include mq($max-width: 768px) {
                            background-color: $brand-white !important;
                            color: $brand-dark;
                        }
                        &.chinny {
                            background: $brand-purple;
                            &:hover {
                                background: darken($brand-purple, 5%);
                            }
                        }
                        &.alley {
                            background: $brand-pink;
                            &:hover {
                                background: darken($brand-pink, 5%);
                            }
                        }
                        &.caroline {
                            background: $brand-yellow;
                            &:hover {
                                background: darken($brand-yellow, 5%);
                            }
                        }
                        &.courtney {
                            background: $brand-secondary;
                            &:hover {
                                background: darken($brand-secondary, 5%);
                            }
                        }
                    }
                }
            }
        }
    }
}
