.single-post {
    header.banner {
        background-color: rgba(255, 255, 255, .9);
    }
    header.title-featImage-container {
        height: 600px;
        .featured-image-container {
            position: relative;
            overflow: hidden;
            height: 600px;
            img {
                position: relative;
                @include centerer(true, true);
            }
        }
        .entry-title {
            // font-family: 'Cormorant', serif;
            font-weight: $base-font-weight-light;
            position: relative;
            top: $base-margin - 20;
            width: 45%;
            @include mq($max-width: 768px) {
                width: 90%;
                box-sizing: border-box;
            }
            padding: $base-padding $base-padding * 2;
            text-align: center;
            background: rgba(255, 255, 255, 1);
            @extend .vertical-centering;
        }
    }
    .entry-content {
        // top: $base-margin - 7;
        position: relative;
        width: 50%;
        @include mq($max-width: 768px) {
            width: 90%;
        }
        margin-bottom: $base-margin * 4;
        @extend .vertical-centering;
        .meta {
            a {
                color: $brand-primary;
            }
        }
        p {
            margin-bottom: $base-margin * 4;
            &:first-child {
                margin-bottom: $base-margin;
            }
        }
        img.alignleft {
            float: left;
            margin-right: $base-margin;
            margin-bottom: $base-margin;
            margin-left: $base-margin - 4;
        }
        img.alignright {
            float: right;
            margin-left: $base-margin;
            margin-bottom: $base-margin;
            margin-right: $base-margin - 4;
        }
        img.alignnone {
            float: none;
            width: 100%;
            height: auto;
        }
    }
}
