.blog {
    main {
        @extend .after-menu-header;
        .page-header {
            display: none;
        }
        article {
            // background-color: lightgreen;
            box-sizing: border-box;
            width: 70%;
            // display: inline-block;
            // float:left;
            padding: $base-padding;
            overflow: hidden;
            margin-bottom: $base-margin * 4;
            @extend .vertical-centering;
            .post-content {
                position: absolute;
                z-index: 1;
                width: 45%;
                header {
                    h2 {
                        font-family: 'Cormorant', serif;
                        display: inline-block;
                        margin-top: $base-margin * 3;
                        padding-top: $base-padding;
                        padding-right: $base-padding * 2;
                        padding-bottom: $base-padding;
                        padding-left: 0;
                        background-color: $brand-white;
                        a {
                            color: $brand-dark;
                        }
                    }
                }
                .entry-excerpt {
                    width: 55%;
                    // margin-top: $base-margin * 12;
                    .meta {
                        .byline {
                            margin-left: $base-margin;
                            display: inline-block;
                            a {
                                display: inline-block;
                            }
                        }
                    }
                    a {
                        margin-top: $base-margin;
                        display: block;
                    }
                }
            }
            .feature-image {
                display: inline-block;
                float: right;
                width: 60%;
                height: 450px;
                margin-left: calc(100% - 70%);
                margin-top: $base-margin;
                margin-bottom: $base-margin;
                text-align: center;
                overflow: hidden;
                position: relative;
                img {
                    position: relative;
                    @include centerer(true, true);
                }
            }
        }
    }
}
