.features {
    .page-header {
        display: none;
    }
    .not-just-app {
        max-width: 1280px;
        @extend .vertical-centering;
        @extend .after-menu-header;
        @extend .magazine-container;
        @include mq($max-width: 768px) {
            width: 90%;
        }
        margin-bottom: $base-margin * 4;
        overflow: hidden;
        .description {
            h1.title {
                width: 260px;
                font-size: $base-font-size * 3.5;
            }
            p {
                width: 35%;
                @include mq($max-width: 768px) {
                    width: 100%;
                }
            }
        }
        .feature {
            @extend .article-portion;
            margin-top: $base-margin * 6;
            margin-bottom: $base-margin * 3;
            @include mq($max-width: 768px) {
                width: 85%;
            }
            h2 {
                font-size: $base-font-size * 2.5;
                font-weight: $base-font-weight-light;
                margin-bottom: $base-margin / 2;
            }
            .spec {
                width: 45%;
                float: left;
                display: inline-block;
                margin-right: $base-margin * 2;
                @include mq($max-width: 768px) {
                    margin-right: 0;
                    width: 100%;
                }
                h3 {
                    font-size: $base-font-size * 1.3;
                    font-weight: $base-font-weight-light;
                    margin-top: $base-margin * 2;
                }
                svg {
                    margin-top: $base-margin;
                }
            }
            .img {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-repeat: no-repeat;
                width: 85%;
                margin-top: $base-margin;
            }
            &.social {
                /*Timeline icon by Icons8 */
                svg.icon {
                    fill: $brand-primary;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                }
                .img {
                    background-image: url('../images/f-social.jpg');
                    @include mq($max-width: 758px) {
                        background-position: right;
                        width: 100%;
                    }
                }
            }
            &.engagement {
                @extend .right;
                svg {
                    path {
                        stroke: $brand-secondary;
                    }
                }
                .img {
                    background-image: url('../images/f-engagement.jpg');
                    float: right;
                    @include mq($max-width: 758px) {
                        background-position: left;
                        width: 100%;
                    }
                }
            }
            &.management {
                svg {
                    path {
                        stroke: $brand-pink;
                    }
                }
                .img {
                    background-image: url('../images/f-management.jpg');
                    @include mq($max-width: 758px) {
                        background-position: right;
                        width: 100%;
                    }
                }
            }
            &.measurement {
                @extend .right;
                svg {
                    path {
                        stroke: $brand-yellow;
                    }
                }
                .img {
                    background-image: url('../images/f-measurement.jpg');
                    float: right;
                    @include mq($max-width: 758px) {
                        background-position: left;
                        width: 100%;
                    }
                }
            }
        }
    }
}
