header.banner {
    height: 80px;
    @include mq($max-width: 768px) {
        height: 60px;
    }
    position: absolute;
    display: block;
    padding: 0 $base-padding;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: $base-transition;
    // on scroll
    &.sps--blw {
        position: fixed;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.9);
        transition: $base-transition;
        .brand {
            margin-top: $base-margin / 6;
            transition: $base-transition;
            width: 9%;
            @include mq($max-width: 768px) {
                width: 30%;
            }
            img {
                width: 60%;
            }
            svg {
                width: 100%;
                margin-top: -6%;
                @include mq($max-width: 768px) {
                    margin-top: -2%
                }
                #mask {
                    fill: transparent;
                }
                #color-mesh {
                    .home & {
                        display: initial;
                    }
                }
            }
        }
        a {
            .page-template & {
                color: $brand-dark;
            }
            &.subscribe-now {
                padding: $base-padding $base-padding * 2;
                margin-top: -1px !important;
                border-radius: 100px;
                transition: .3s;
                background: $brand-purple;
                color: $brand-white;
                padding-top: $base-padding / 2;
                padding-bottom: $base-padding / 2;
                margin-top: $base-margin / 2;
                transition: $base-transition;
                display: inline-block !important;
                @extend .ripple;
                &:hover {
                    background: darken($brand-purple, 5%);
                }
            }
        }
        nav {
            margin-top: $base-margin / 1.6;
            transition: $base-transition;
            &.nav-primary {
                @include mq($max-width: 1024px) {
                    margin-left: $base-margin * 2;
                }
            }
            &.nav-download {
                .fa-apple {
                    color: lighten($brand-dark, 10%);
                }
                .fa-android {
                    color: $brand-secondary;
                }
            }
            // mobile nav
            &.menu-toggle {
                @include mq($max-width: 768px) {
                    a {
                        svg {
                            path {
                                fill: $brand-dark;
                            }
                        }
                    }
                }
            }
        }
    }
    // without scroll
    .brand {
        display: inline-block;
        margin-top: $base-margin;
        float: left;
        transition: $base-transition;
        width: 150px;
        @include mq($max-width: 768px) {
            width: 140px;
        }
        svg {
            width: 80%;
            margin-top: -3%;
            @include mq($max-width: 768px) {
                margin-top: -8%;
            }
            #color-mesh {
                .page-template & {
                    display: initial;
                }
                .home & {
                    display: none;
                }
            }
        }
    }
    nav {
        // @include vertical-align();
        display: inline-block;
        margin-left: $base-margin * 2;
        margin-top: $base-margin * 1.5;
        float: left;
        transition: $base-transition;
        a {
            vertical-align: middle;
            body.home & {
                color: $brand-white;
            }
            .page-template & {
                color: $brand-dark;
            }
        }
        &.nav-primary {
            margin-left: $base-margin * 4;
            position: relative;
            // margin-left: 200px;
            @include mq($max-width: 1024px) {
                margin-left: $base-margin / 2;
            }
            @include mq($max-width: 768px) {
                display: none;
            }
            .subscribe-now {
                .home & {
                    display: none;
                }
                padding: $base-padding $base-padding * 2;
                margin-top: -1px !important;
                border-radius: 100px;
                transition: .3s;
                background: $brand-purple;
                color: $brand-white;
                padding-top: $base-padding / 2;
                padding-bottom: $base-padding / 2;
                margin-top: $base-margin / 2;
                transition: $base-transition;
                display: inline-block;
                @extend .ripple;
                &:hover {
                    background: darken($brand-purple, 5%);
                }
                .features & {
                    display: initial;
                    padding: $base-padding $base-padding * 2;
                    margin-top: -1px !important;
                    border-radius: 100px;
                    transition: .3s;
                    background: $brand-purple;
                    color: $brand-white;
                    padding-top: $base-padding / 2;
                    padding-bottom: $base-padding / 2;
                    margin-top: $base-margin / 2;
                    transition: $base-transition;
                    display: inline-block !important;
                    @extend .ripple;
                    &:hover {
                        background: darken($brand-purple, 5%);
                    }
                }
            }
            a {
                text-decoration: none;
                margin-right: $base-margin;
            }
        }
        &.nav-download {
            position: relative;
            // float: right;
            @include mq($max-width: 768px) {
                display: none;
            }
            a {
                font-size: $base-font-size * 1.5;
                margin-right: $base-margin;
                .home & {
                    color: $brand-white;
                }
            }
            .fa-apple {
                color: lighten($brand-dark, 10%);
            }
            .fa-android {
                color: $brand-secondary;
            }
        }
        &.nav-social {
            float: right;
            right: 0;
            margin-right: $base-margin;
            position: absolute;
            @include mq($max-width: 768px) {
                display: none;
            }
            a {
                font-size: $base-font-size * 1.5;
                margin-left: $base-margin;
                &.twitter {
                    color: $brand-twitter;
                }
                &.facebook {
                    color: $brand-facebook;
                }
                &.linkedin {
                    color: $brand-linkedin;
                }
            }
        }
        // mobile nav
        &.menu-toggle {
            display: none;
            @include mq($max-width: 768px) {
                display: initial;
                margin-top: $base-margin * 1;
                float: right;
                a {
                    svg {
                        path {
                            fill: $brand-white;
                        }
                    }
                }
            }
        }
        &.nav-mobile {
            display: none;
            @extend .animated;
            @extend .slideInDown;
            -webkit-animation-duration: .3s;
            @include mq($max-width: 768px) {
                display: none;
                width: 100vw;
                height: 100vh;
                position: absolute;
                overflow: hidden;
                overflow-y: hidden;
                background: rgba(255, 255, 255, 0.9);
                padding: 0;
                padding-top: $base-padding;
                margin: 0;
                left: 0;
                text-align: center;
                h1 {
                    font-size: $base-font-size * 1.7;
                    margin-top: $base-margin * 3;
                    padding-bottom: 0;
                    &:after {
                        content: "─";
                        display: block;
                        // color: lighten($brand-dark, 70%);
                        color: $brand-primary;
                    }
                }
                a {
                    display: block;
                    margin-bottom: $base-margin;
                    color: $brand-dark;
                    &.close-menu {
                        margin-top: $base-margin;
                    }
                    &.subscribe-now {
                        margin-top: $base-margin !important;
                        padding: $base-padding $base-padding * 2;
                        display: inline-block;
                        border-radius: 100px;
                        background: $brand-purple;
                        color: $brand-white;
                        transition: $base-transition;
                        &:hover {
                            background: darken($brand-purple, 5%);
                        }
                    }
                }
            }
        }
    }
}
