.login {
    // background: $brand-white;
    header {
        display: none;
    }
    .wrap {
        max-width: none;
        padding: 0;
        .page-header {
            display: inline-block;
            float: left;
            width: 50%;
            height: 100vh;
            text-align: center;
            color: $brand-white;
            background-image: url('../images/logo.png'), linear-gradient(-180deg, rgba($brand-primary, .9) 0%, rgba($brand-primary, .9) 100%), url('../images/back-sf-bw.jpg');
            background-position: center center;
            background-size: inherit;
            background-repeat: no-repeat;
            h1 {
                display: none;
                position: relative !important;
                font-size: $base-font-size * 2;
                font-weight: $base-font-weight-light;
                @include centerer(false,
                true);
                &:before {
                    // background-image: url('../images/speech.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 55px;
                    height: 60px;
                    display: block;
                    content: "";
                    color: transparent;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .tml-login {
            display: inline-block;
            float: left;
            width: 50%;
            max-width: none;
            height: 100vh;
            overflow: hidden;
            box-sizing: border-box;
            // background-color: $brand-white;
            padding: $base-padding * 10;
            @include centerer(false,
            true);
            input {
                font-size: $base-font-size;
                line-height: $base-font-size !important;
            }
            input[type="checkbox"] {
                height: 1rem;
            }
            input[type="submit"] {
                @extend .button;
                margin-bottom: $base-margin;
                background: $brand-primary;
                color: $brand-white;
                transition: $base-transition;
                padding: $base-padding $base-padding * 1.5;
                line-height: 0 !important;
                border: 0 !important;
                box-shadow: none;
                &:hover {
                    color: $brand-white;
                    padding: $base-padding $base-padding * 1.5;
                    background: darken($brand-primary, 10%);
                }
            }
            small {
                color: rgba($brand-dark, .8);
            }
            .tml-action-links {
                display: none;
            }
            .error {
                border: 0;
                color: $brand-pink;
                a {
                    display: none;
                }
            }
            .message {
                border: 0;
                color: $brand-yellow;
            }
        }
    }
    footer {
        display: none;
    }
}
