// Vertical align mixin
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin delay($seconds: 2s) {
    -webkit-animation-duration: $seconds;
    -ms-animation-duration: $seconds;
    animation-duration: $seconds;
}
