.not-just-app-animation {
  * {
    animation-duration: 1s !important;
  }

  h2 {
    line-height: 1;
  }
  div {
    width: 100%;
    height: 100%;
    transition: $base-transition;
    position: absolute;
    z-index: 0;
    svg.alloe-svg-back {
      float: right;
      width: 75%;
      height: pxToRem(150px);
      margin-top: $base-margin - 10.4;
      margin-right: $base-margin * 4;
      z-index: 0; // position: absolute;
      g {
        fill: transparent;
        stroke: transparent;
        #alloe-interactive-a {
          fill: $brand-primary;
          animation: jello-vertical 0.9s infinite both;
        }
        #alloe-interactive-ll {
          fill: $brand-yellow;
        }
        #alloe-interactive-o {
          fill: $brand-purple;
        }
        #alloe-interactive-e {
          fill: $brand-secondary;
        }
      }
    }
  }
  svg.alloe-svg-front {
    float: right;
    width: 75%;
    height: pxToRem(150px);
    margin-top: $base-margin * 8;
    margin-right: $base-margin * 4;
    @include mq($max-width: 480px) {
      margin-top: $base-margin * 10;
      margin-left: $base-margin * 2;
    }
    @include mq($min-width: 480px, $max-width: 767px) {
      margin-top: 13rem;
      margin-right: 6rem;
    }
    z-index: 2;
    position: relative;
    @include mq($max-width: 480px) {
      position: absolute;
    }

    g {
      fill: transaprent;
      stroke: $brand-dark;
    }
  }
  section {
    float: right;
    width: 75%;
    figure {
      margin-top: $base-margin * 2;
      width: 50%;
     
      overflow: hidden;
      h3 {
        font-size: $base-font-size * 1.5;
        margin-bottom: $base-margin;
      }
      p {
        line-height: 1.5;
       
      }
      a {
        @extend .circle-button;
        font-size: $base-font-size * 1.2;
        height: 80px;
        width: 80px;
        background-color: $brand-white;
        color: $brand-dark;
        float: left;
        margin-top: 0;
        margin-left: $base-margin;
        &:hover {
          color: $brand-dark;
          background-color: darken($brand-white, 5%);
        }
      }
      &.feature-social {
        color: $brand-white;

        p {
          width: 70%;
          float: left;
        }
      }
      &.feature-engagement {
        margin-left: 30%;


        p {
          width: 70%;
          float: left;
        }
      }
      &.feature-management {
        margin-right: -5%;
        float: right;
        color: $brand-white;
        p {
          width: 70%;
          float: left;
        }
      }
      &.feature-measurement {
        width: 75%;
        @include mq($max-width: 480px) {
          width: 80%
        }
        margin-right: 0;
        @include mq($max-width: 480px) {
          margin-right: 25px;
        }
        float: right;
        text-align: right;

        p {
          width: 70%;
          float: right;
        }
        a {
          margin-left: $base-margin * 8;
        }
      }
    }
  }
  .class1 {
    @extend .slide-in-left;
    background-color: $brand-primary; // animation-duration: 0.5s;
    overflow: initial;
  }
  .class2 {
    @extend .slide-in-right;
    background-color: $brand-yellow;
  }
  .class3 {
    @extend .slide-in-left;
    background-color: $brand-purple;
  }
  .class4 {
    @extend .slide-in-right;
    background-color: $brand-secondary;
  }
  svg.alloe-svg-front {
    g {

      #alloe-interactive-a {
        // fill: $brand-white;
      }
      #alloe-interactive-ll {
        // fill: $brand-yellow;
      }
      #alloe-interactive-o {
        // fill: $brand-purple;
      }
      #alloe-interactive-e {
        // fill: $brand-secondary;
      }
    }
  }
}
