.single-post {
  article {
    margin-top: $gratio-3;

    @include container(1280px);
    h1 {
      font-size: 2.5rem;
      line-height: 1;

      margin-bottom: $gratio-6;

      text-align: center;

      @include container(800px);
    }
    aside.sidebar {
    // position: fixed;
    // float: left;
    @include screen(320px, 920px) {
      width: 100%;
      ul {
        width: 100%;
        right: 0;
        display: none;
        position: absolute;
        z-index: 9;
        background-color: rgba(white, 0.95);
      }
    }
    float: left;
      position: fixed;
    display: inline-block;
    width: 12%;
    padding: $base-padding;
    vertical-align: top;
    h3 {
      font-size: $base-font-size * 1.1;

      margin-bottom: $base-margin;
      @include screen(320px, 920px) {
        &:after {
          content: "▼";
          font-size: 0.8rem;
          margin-left: $gratio-3;
        }
      }
    }
    ul {
      // padding-left: $base-padding / 2;
      li {
        a {
          display: block;

          padding: $base-padding / 2 $base-padding;

          color: $brand-dark;
        }
      } // color loop
      @for $i from 1 through length($array-brand-color) {
        li:nth-child(#{length($array-brand-color)}n+#{$i}) a:hover {
          text-decoration: none;

          color: $brand-white;
          background-color: nth($array-brand-color, $i);
        }
      }
    }
  }
    .metadata {
      font-size: 1.1rem;
      margin-bottom: $gratio-3;
      text-align: center; // color: $brand-yellow;
      p.byline {
        display: inline-block;
        &:after {
          content: '  |  ';
        }
        a {
          font-weight: 700;

          color: $brand-primary;
        }
      }
      time {
        display: inline-block;
      }
      .avatar-container {
        display: none;
      }
    }
    .feature-image {
      position: relative;

      overflow: hidden;

      width: 100%;
      height: rem(600px);
      img {
        // width: 100%;
        width: 100%;
        @include centerer-absolute(true, true);
      }
    }
    .entry-content {
      position: relative;

      margin-top: - 10rem;
      padding: $gratio-6;

      background-color: white;

      @include container(700px);
      &:before {
        position: absolute;
        z-index: -1;
        top: 15px;
        left: -5px;

        display: block;

        width: 20px;
        height: 200px;

        content: '';
        transform: rotate(-5deg);

        background: rgba(39, 44, 49, .15);

        filter: blur(5px);
      }
      &:after {
        position: absolute;
        z-index: -1;
        top: 15px;
        right: -5px;

        display: block;

        width: 20px;
        height: 200px;

        content: '';
        transform: rotate(5deg);

        background: rgba(39, 44, 49, .15);

        filter: blur(5px);
      }
      .author-box {
          background-color: #f4f4f4; 
          margin: 20px 0; 
          padding: 50px;
          height: 100px;
          .metadata {
            text-align: left;
            .avatar-container {
          //display: none;
          display: inline-block;
          float: left;
          img {
            border-radius: 50px;
            margin-right: 20px;
            width: 100px;
          }
        }
        a {
          display: block;
          h2 {
            vertical-align: top;
            font-size: 30px;
            margin-bottom: 10px;
          }
        }
        .author-description {
          display: block;
          overflow: hidden;
        }
          }
      }
      p {
        margin-bottom: $gratio-4;
      }
    }
    footer {
      display: none;
    }
    .comments {
      display: none;
    }
  }
}
