// Header
header.banner
{
    z-index: 9;

    padding: $base-padding;
   
        transition: $base-transition;
    
    .container
    {
        @include container(1280px);
    }
    &.js-is-sticky,
    &.js-is-stuck
    {
        background-color: rgba($brand-white, 1);

        .container
        {
            .brand
            {
                img
                {
                    height: 30px;
                }
            }
            nav
            {
                &.nav-primary
                {
                    .subscribe
                    {
                        display: initial;

                        padding: $base-padding / 2 $base-padding;

                        color: $brand-white;
                        background: $brand-primary;
                        // border-radius: $base-border-radius * 4;
                        &:hover
                        {
                            text-decoration: none;

                            background: darken($brand-primary, 5%);
                        }
                    }
                }
                &.social
                {
                    padding-top: $base-padding / 7;
                }
            }
        }
    }
    .container
    {
        .brand
        {
            display: inline-block;

            vertical-align: middle;
            img
            {
                height: 50px;
            }
        }
        nav
        {
            display: inline-block;

            a
            {
                margin-left: $base-margin * 1.5;
                &:first-child
                {
                    margin-left: 0;
                }
            }
            &.nav-primary
            {
                margin-left: $base-margin * 12;
                a
                {
                    color: $brand-dark;
                    &:hover
                    {
                        color: $brand-purple;
                    }
                }
                .subscribe
                {
                    display: none;
                }
                .download-ios
                {
                    font-size: $base-font-size * 1.5;

                    margin-left: $base-margin * 2;

                    color: #000; // ios logo color
                    &:hover
                    {
                        text-decoration: none;
                    }
                }
                .download-android
                {
                    font-size: $base-font-size * 1.5;

                    margin-left: $base-margin;

                    color: #a4c639; // android logo color
                    &:hover
                    {
                        text-decoration: none;
                    }
                }
            }
            &.social
            {
                font-size: $base-font-size * 1.5;

                display: inline-block;
                float: right;

                padding-top: $base-padding / 1.5;
                a
                {
                    margin-left: $base-margin;

                    color: $brand-grey;
                    &:hover
                    {
                        text-decoration: none;
                        &.twitter
                        {
                            color: $brand-twitter;
                        }
                        &.facebook
                        {
                            color: $brand-facebook;
                        }
                        &.linkedin
                        {
                            color: $brand-linkedin;
                        }
                    }
                }
            }
        }
    }
}
