body.template-subscribe {
  background-color: $brand-white;
  * {
    box-sizing: border-box;
  }
header.banner {
  z-index: 9;

  padding: $base-padding;

  transition: $base-transition;

  .container {
    @include container(1280px);
  }
  &.js-is-sticky,
  &.js-is-stuck {
    background-color: rgba($brand-white, 1);

    .container {
      .brand {
        /*img {
          height: 30px;
        }*/
      }
      nav {
        &.nav-primary {
          .subscribe {
            display: initial;

            padding: $base-padding / 2 $base-padding;

            color: $brand-white;
            background: $brand-primary; // border-radius: $base-border-radius * 4;
            &:hover {
              text-decoration: none;

              background: darken($brand-primary, 5%);
            }
          }
        }
        &.social {
          padding-top: $base-padding / 7;
        }
      }
    }
  }
  .container {
    @include screen(320px, 920px) {
      font-size: 0;
    }
    .brand {
      display: inline-block;

      vertical-align: middle;
      @include screen(320px, 920px) {
        width: 40%;
        display: inline-block;
      }
      img {
        height: 50px;
      }
    }
    nav.mobile-menu {
      display: none;

      @include screen(320px, 920px) {
        display: inline-block;
        text-align: right;
        width: 59%;
        vertical-align: top;
        a {
          img {
            width: $gratio-4;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
    nav {
      @include screen(921px, 2000px) {
        display: inline-block !important;
      }
      @include screen(320px, 920px) {
        display: none;
      }
      a {
        margin-left: $base-margin * 1.5;
        &:first-child {
          margin-left: 0;
        }
      }
      &.nav-primary {
        margin-left: $base-margin * 12;
        @include mq($max-width: 1024px) {
          margin-left: $base-margin * 2;
        }
        a {
          color: $brand-dark;
          &:hover {
            color: $brand-purple;
          }
        }
        .subscribe {
          display: initial;

            padding: $base-padding / 2 $base-padding;

            color: $brand-white;
            background: $brand-primary;
        }
        .download-ios {
          font-size: $base-font-size * 1.5;

          margin-left: $base-margin * 2;

          color: $brand-grey; // ios logo color
          &:hover {
            text-decoration: none;
          }
        }
        .download-android {
          font-size: $base-font-size * 1.5;

          margin-left: $base-margin;

          color: $brand-grey; // android logo color
          &:hover {
            text-decoration: none;
          }
        }
      }
      &.social {
        font-size: $base-font-size * 1.5;
        @include screen(320px, 920px) {
          display: none;
        }
        display: inline-block;
        float: right;

        padding-top: $base-padding / 1.5;
        a {
          margin-left: $base-margin;

          color: $brand-grey;
          &:hover {
            text-decoration: none;
            &.facebook {
              color: $brand-facebook;
            }
            &.twitter {
              color: $brand-twitter;
            }
            &.instagram {
              color: $brand-instagram;
            }
            &.linkedin {
              color: $brand-linkedin;
            }
          }
          &.download-android {
            margin-right: $base-margin * 1.5;
          }
        }
      }
    }
  }
}
  .subscribe {
    @extend .width-boundaries;
    width: 800px;
    @include screen(320px, 920px) {
      width: 100%;
    }
    text-align: center;
    margin-bottom: $base-margin * 4;
    overflow: hidden;
    .invitation {
      width: 90%;
      @include screen(320px, 920px) {
        width: 90%;
      }
      @extend .horizontal-centering;
      h1 {
        font-size: $base-font-size * 3;
        @include screen(320px, 920px) {
        font-size: $base-font-size * 2;
        margin-left: auto;
        margin-right: auto;
        }
        margin-top: $base-margin * 2;
        margin-bottom: $base-margin * 2;
        line-height: 1;
      }
    }
    ul.plans {

      li {
        width: 33.33%;
        @include screen(320px, 920px) {
          width: 100%;
        }
        float: left;
        padding: $base-padding * 2 $base-padding;
        border: 3px solid;
        border-color: $brand-white;
        &:hover {
          border-color: $brand-dark;
        }
        h2 {
          font-size: $base-font-size * 1.6;
          font-weight: $base-font-weight-normal;
          margin-bottom: $base-margin;
        } // &.monthly {
        //   h2 {
        //     color: $brand-purple;
        //   }
        // }
        &.yearly {
          &:hover {
            border-color: $brand-primary;
          }
          h2 {
            color: $brand-primary;
          }
        } // &.customized {
        //   h2 {
        //     color: $brand-purple;
        //   }
        // }
        p {
          margin-bottom: $base-margin;
        }
        ul.features {
          margin-bottom: $base-margin;
          overflow: hidden;
          li {
            border: 0;
            width: 100%;
            float: none;
            margin-bottom: $base-margin;
            padding: 0; // font-weight: $base-font-weight-normal;
            span {
              color: rgba($brand-purple, 1);
            }
          }
        }
        &.monthly {
          a {
            @include button($brand-dark, $brand-white);
          }
        }
        &.yearly {
          a {
            @include button($brand-primary, $brand-white);
          }
        }
        &.customized {
          a {
            @include button($brand-dark, $brand-white);
          }
        }
      }
    }
  }
}
