html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: $base-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight-light;
    letter-spacing: $base-letter-spacing;
    color: $brand-dark;
}

a {
    text-decoration: none;
}

// Typography
h1 {
    font-size: $base-font-size * 2.5;
}

h2 {
    font-size: $base-font-size * 2.4;
    font-weight: $base-font-weight-normal;
}

h3 {
    font-size: $base-font-size * 1.5;
}

h4 {
    font-size: $base-font-size * 1.3;
}

h5 {
    font-size: $base-font-size * 1.1;
    font-weight: $base-font-weight-normal;
}

p {
    margin: $base-margin 0;
    line-height: $base-line-height;
}

// Buttons
.button {
    padding: $base-padding $base-padding * 2;
    border-radius: 100px;
    transition: .3s;
}

// centering
.vertical-centering {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Containers
.home-containers {
    @extend .vertical-centering;
    margin-top: $base-margin * 6;
    text-align: center;
    width: 80%;
    @include mq($max-width: 1024px) {
        width: 95%;
    }
    overflow: hidden;
    position: relative;
    p.description {
        width: 60%;
        @include mq($max-width: 1024px) {
            width: 70%;
        }
        @include mq($max-width: 768px) {
            width: 95%;
        }
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $base-margin * 2;
    }
}

.magazine-container {
    padding: $base-padding;
    .article-portion {
        width: 70%;
        float: left;
        p {
            margin-bottom: $base-margin * 2;
        }
        .img {
            margin: $base-margin - 2;
            overflow: hidden;
            height: 200px;
        }
    }
    .right {
        float: right;
        display: inline-block;
    }
}

.after-menu-header {
    margin-top: $base-margin * 9;
}

// click ripple
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }
    &:active:after {
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }
}
