// Colors
$brand-primary: #FF0C65;
$brand-secondary: #41DE7F;
// $brand-pink: #F12E65;
$brand-yellow: #FFCC00;
$brand-purple: #5000C5;
$brand-dark: #212A34;
$brand-grey: #55615F;
$brand-grey-purple: #545478;
$brand-white: #F4F4F4;
$brand-twitter: #55acee;
$brand-stripe: #6772e5;
$brand-facebook: #3b5998;
$brand-linkedin: #007bb5;
// Spaces
$base-margin: 1rem;
$base-padding: 1rem;
// Fonts & typography
$base-font-family-normal: 'Lato',
sans-serif;
$base-font-family-title: 'Overpass',
sans-serif;
$base-font-size: 1rem;
$base-letter-spacing: 0.02rem;
$base-line-height: 1.5;
$base-font-weight-light: 300;
$base-font-weight-normal: 400;
$base-font-weight-bold: 700;
$base-font-weight-heavy: 800;
$base-font-weight-black: 900;
$fa-font-path: '~font-awesome/fonts';
// Borders
$base-border: 1px solid;
$base-border-radius: 5px;
// Transitions
$base-transition: all 0.3s ease-in-out;
$base-transition-slower: all 0.6s ease-in-out;
// array info-oficio result colors
$array-brand-color: $brand-primary,
$brand-yellow,
$brand-purple,
$brand-secondary;
