table.woocommerce-orders-table {
    width: 100%;
    thead {
        tr {
            line-height: 2rem;
            border-color: rgba($brand-dark, .1);
            td {
                padding-top: $base-padding / 2;
                padding-bottom: $base-padding / 2;
            }
        }
    }
    tbody {
        tr {
            line-height: 2rem;
            border-bottom: $base-border;
            border-color: rgba($brand-dark, .1);
            &:hover {
                background-color: rgba($brand-dark, .05);
            }
            &:last-child {
                border-bottom: 0;
            }
            td {
                padding-top: $base-padding / 2;
                padding-bottom: $base-padding / 2;
                &:first-child {
                    padding-left: $base-padding / 2;
                }
                &:last-child {
                    a {
                        color: $brand-primary;
                        &:hover {
                            color: darken($brand-primary, 10%);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
